body{
    font-family: 'PT Sans', sans-serif;
    margin: 0% 5%;
}
h1{
    font-size: 50px;
    font-weight:700;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    color: #565656;
    text-align: justify;
}
.text-highlight{
    color: #009FFF;
}
.half-width{
    width: 41%;
    margin: 15px;
    padding: 25px;
    float: left;
}
#left-border{
    border-left: 4px solid #ec2F4B;
    height: 100%;
}
.anchor-button{
    text-decoration: none;
    background-color:#000C40;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.top-image{
    width: 100%;
    margin:10px;
    padding: 25px;
}
.mission-details-area{
    width: 26%;
    float: left;
    margin:0px 20px;
    padding: 0px 20px;
    border-radius: 10px;
}
.mission-title{
    text-align: center;
}
.mission-details-image{
    width: 150px;
}
#mission{
    background-color: #EAEAEA;
}
#vission{
    background-color: #C9D6FF;
}
#goals{
    background-color: #B2FEFA;
}
.section-hight{
    height: 600px;
}
 .project-img{
     width: 100%;
 }

.third-section{
    margin-top: 500px;
    height: 650px;
}

#projects-section img{
    float: left;
    width: 29%;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}
#projects-section{
    height: 400px;
}
footer{
    background-color: #C9D6FF;
    margin: 20px 0px;
    padding: 25px 0px;
}
.footer-section{
    text-align: center;
    
}