body{
    font-family: 'PT Sans', sans-serif;
    margin: 0% 5%;
}
h1{
    font-size: 60px;
    font-weight:bold;
}
p{
    font-size: 20px;
    color: #565656;
    text-align: justify;
}
.text-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    margin: 15px;
    padding: 25px;
    float: left;
}
#left-border{
    border-left: 4px solid red;
    height: 100%;
}
.anchor-button{
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.top-image{
    width: 100%;
    margin:10px;
    padding: 25px;
}
.mission-details-area{
    width: 26%;
    float: left;
    margin:0px 20px;
    padding: 0px 20px;
    border-radius: 10px;
}
.mission-title{
    text-align: center;
}
.mission-details-image{
    width: 150px;
}
#mission{
    background-color: aquamarine;
}
#vission{
    background-color: antiquewhite;
}
#goals{
    background-color: #6e3ecc;
}
/* .half-width img{
    width: 100%;
} */
 .project-img{
     width: 100%;
 }
.third-section{
    margin: 500px 0px;
}
.portfolio-section img{
    float: left;
    width: 28%;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: ;
}